@import 'reset';

body {
    background-color: #fff;
    display: flex;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #F2F2F7;
    width: 100px;
    min-width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.menu_list_item {
    margin: 10px 0;
    width: 100%;
}

.menu_list_item a {
    width: 56px;
    height: 56px;
    text-align: center;
    display: flex;
    padding: 20px 0;
    color: #000;
    transition: all .2s ease;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    &:hover {
        color: #fff;
        background-color: #993D3A;
        box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
        fill: #fff;
    }
}

.active {
    color: #fff;
    background-color: #993D3A;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
    fill: #fff;
}

.home_page {
    padding-top: 24px;
    display: flex;
}
main{
    padding-top: 24px;
}

.left {
    width: 60%;
}

.wellcome {
    display: flex;
}

.right {
    width: 38%;
}

.hw,
.time,
.wellcome {
    font-size: 24px;
    font-weight: 700;
    margin-right: 4px;
}

.title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.members_list {
    display: flex;

    &_item {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }

        & a {
            display: flex;
            flex-direction: column;
            color: #000;
        }
    }
}

.ava {
    display: inline-block;
    border-radius: 50%;
    padding: 9px 13px;
    text-transform: uppercase;
    background-color: rgb(232, 174, 247);
}

.rooms_wrap {
    margin-bottom: 16px;
}

.rooms {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));

    &_item {
        width: 192px;
        height: 140px;
        border-radius: 10px;
        // background-color: #efefef;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all .2s ease;

        &:hover {
            box-shadow: 0px 4px 4px #6A1616;
            cursor: pointer;
        }
    }
}

.todo_list {
    display: flex;

    &_item {
        transition: all .2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    .done {
        color: #fff;
        background-color: #85c144;
    }

    & a {
        margin: 4px;
        background-color: #efefef;
        color: #000;
        border-radius: 5px;
        padding: 5px 10px;
    }
}

svg {
    width: 40px;
    height: 30px;
}

.rooms_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        a {
            color: #6A1616;
        }

        use {
            fill: #6A1616;
        }
    }

    a {
        margin: 5px 0;
        color: #000;
        font-weight: 700;
    }

    span {
        font-size: 14px;
        color: #ABBBC2;
    }

    svg {
        width: 48px;
        height: 48px;
    }
}

.right_top {
    display: flex;
    justify-content: space-between;
}

.weather,
.date {
    width: 49%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 24px rgba(187, 187, 187, 0.32);

    &_title {
        margin-bottom: 8px;
    }

    &_show {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 40px;

        &_icon svg {
            width: 71px;
            height: 46px;
        }
    }

    &_day {
        text-align: start;
        font-size: 24px;
    }

    &_day_week {
        text-align: end;
        font-size: 22px;
    }
}


/* members.html */
.main_title {
    margin-bottom: 10px;
}

// // .members_list_item{
// //     text-transform: uppercase;
// //     border: 1px solid #ABBBC2;
// //     border-radius: 10px;
// //     width: 250px;
// //     height: 350px;    
// //     box-shadow: 0px 8px 24px rgba(187, 187, 187, 0.32);
// //     .members_list_item_link>*:not(:first-child){
// //         padding: 10px;
// //         display: flex;
// //         justify-content: center;
// //         align-items: center;
// //     }
// // }
// .members_list_item_link>*:not(:first-child){
//     padding: 10px;
//     // display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .member{
//     &_img{
//         width: 100%;
//         border-radius: 10px 10px 0 0;
//         height: 150px;
//         background-color: #ABBBC2;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     &_name{
//         font-size: 20px;
//         font-weight: 700;
//     }
//     &_login{
//         font-size: 24px;
//         color: #ABBBC2;
//     }
//     &_status{
//         position: relative;
//         &:after{
//             content:'';
//             width: 10px;
//             height: 10px;
//             border-radius: 50%;
//             position: absolute;
//             bottom: 14px;
//             right: 70px;            
//             background-color: #85c144;
//         }
//     }
// }

// .slick-slide, .slick-track{
//     width: 250px !important;
// }
.slick-prev:before, .slick-next:before {
    color: #ABBBC2;
}
.slick-prev{
    left: -10px;
}
.slick-next {
    right: -10px;
}
main {
    display: block;
    max-width: calc(100% - 149px);
}

.member {
    &_img {
        width: 250px;
        border-radius: 10px 10px 0 0;
        height: 150px;
        background-color: #ABBBC2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_name {
        font-size: 20px;
        font-weight: 700;
    }

    &_login {
        font-size: 24px;
        color: #ABBBC2;
    }

    &_status {
        position: relative;

        &:after {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            // bottom: 14px;
            // right: 70px;
            background-color: #85c144;
        }
    }
}
.members_list_item_link{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    color: #000;
    &>div{
        margin: 10px 0;
    }
}

.news{
    margin: 100px 20px
}

/* rooms.html */
.main_rooms{
    display: flex;
    align-items: center;
}
.room_carousel{
    display: flex;
    // background-color: #efefef;
    &_img{
        width: 300px;
        height: 300px;
        background-color: #ABBBC2;
        border-radius: 10px;
        // margin-right: 20px;
    }
    &_name{
        text-transform: uppercase;
        font-size: 40px;        
    }
    &_content{
        padding: 0 20px 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.boxes{
    display: flex;
}
.inside, .outside{
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 7px 17px;
    // margin: 24px;
    width: 144px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.temp, .hum{
    display: flex;
    justify-content: space-around;       
}
.where{
    font-weight: 700;
    font-size: 18px;
}
.light{    
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 7px 17px;
    
    display: flex;    
    justify-content: space-evenly;
    &>div{
        margin-right: 10px;
    }
}

.room_carousel_list{
    display: flex;
    flex-wrap: wrap;
    &_item{
        margin-right: 10px; 
        width: 150px;
        height: 150px;
        border-radius: 10px;
        background-color: #efefef;
    }
}