* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  display: flex;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #F2F2F7;
  width: 100px;
  min-width: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.menu_list_item {
  margin: 10px 0;
  width: 100%;
}

.menu_list_item a {
  width: 56px;
  height: 56px;
  text-align: center;
  display: flex;
  padding: 20px 0;
  color: #000;
  transition: all 0.2s ease;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.menu_list_item a:hover {
  color: #fff;
  background-color: #993D3A;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  fill: #fff;
}

.active {
  color: #fff;
  background-color: #993D3A;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  fill: #fff;
}

.home_page {
  padding-top: 24px;
  display: flex;
}

main {
  padding-top: 24px;
}

.left {
  width: 60%;
}

.wellcome {
  display: flex;
}

.right {
  width: 38%;
}

.hw,
.time,
.wellcome {
  font-size: 24px;
  font-weight: 700;
  margin-right: 4px;
}

.time {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.members_list {
  display: flex;
}
.members_list_item {
  margin-right: 12px;
}
.members_list_item:last-child {
  margin-right: 0;
}
.members_list_item a {
  display: flex;
  flex-direction: column;
  color: #000;
}

.ava > img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.rooms_wrap {
  margin-bottom: 16px;
}

.rooms {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
}
.rooms_item {
  width: 192px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
}
.rooms_item:hover {
  box-shadow: 0px 4px 4px #6A1616;
  cursor: pointer;
}

.todo_list {
  display: flex;
}
.todo_list_item {
  transition: all 0.2s ease;
}
.todo_list_item:hover {
  transform: scale(1.05);
}
.todo_list .done {
  color: #fff;
  background-color: #85c144;
}
.todo_list a {
  margin: 4px;
  background-color: #efefef;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
}

svg {
  width: 40px;
  height: 30px;
}

.rooms_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rooms_item:hover a {
  color: #6A1616;
}
.rooms_item:hover use {
  fill: #6A1616;
}
.rooms_item a {
  margin: 5px 0;
  color: #000;
  font-weight: 700;
}
.rooms_item span {
  font-size: 14px;
  color: #ABBBC2;
}
.rooms_item svg {
  width: 48px;
  height: 48px;
}

.right_top {
  display: flex;
  justify-content: space-between;
}

.weather,
.date {
  width: 49%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 24px rgba(187, 187, 187, 0.32);
}
.weather_title,
.date_title {
  margin-bottom: 8px;
}
.weather_show,
.date_show {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
}
.weather_show_icon svg,
.date_show_icon svg {
  width: 71px;
  height: 46px;
}
.weather_day,
.date_day {
  text-align: start;
  font-size: 24px;
}
.weather_day_week,
.date_day_week {
  text-align: end;
  font-size: 22px;
}

/* members.html */
.main_title {
  margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #ABBBC2;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

main {
  display: block;
  max-width: calc(100% - 124px);
}

.member_img {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
  background-color: #ABBBC2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.member_img > img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member_name {
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
}
.member_login {
  font-size: 24px;
  color: #ABBBC2;
  margin: 10px 0;
  padding-left: 10px;
}
.member_status {
  position: relative;
  padding-left: 10px;
}
.member_status:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  background-color: #85c144;
}

.members_news {
  margin: 0;
}

.member_card {
  border-radius: 10px;
  height: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.member_card:hover {
  box-shadow: 0px 4px 8px #ef5454;
}

.swiper-pagination-progressbar-fill {
  background-color: #ef5454;
}

.swiper-button-next, .swiper-rtl, .swiper-button-prev {
  color: #ef5454;
}

.members_list_item_link {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.members_list_item_link > div {
  margin: 30px 0;
}

.news {
  margin: 100px 20px;
}

/* rooms.html */
.main_rooms {
  display: flex;
}

.room_carousel_img {
  width: 300px;
  height: 300px;
  background-color: #ABBBC2;
  border-radius: 10px;
}
.room_carousel_img > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room_carousel_name {
  text-transform: uppercase;
  font-size: 40px;
}
.room_carousel_content {
  padding: 0 20px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide {
  display: flex;
}

.boxes {
  display: flex;
}

.inside,
.outside {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 7px 17px;
  width: 144px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.temp,
.hum {
  display: flex;
  justify-content: space-around;
}

.where {
  font-weight: 700;
  font-size: 18px;
}

.light {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 7px 17px;
  display: flex;
  justify-content: space-evenly;
}
.light > div {
  margin-right: 10px;
}

.room_carousel_list {
  display: flex;
  flex-wrap: wrap;
}
.room_carousel_list_item {
  margin: 0 10px 10px;
  width: 192px;
  height: 140px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.room_carousel_list_item:hover {
  box-shadow: 0px 4px 4px #6A1616;
  cursor: pointer;
  fill: #993D3A;
  color: #6A1616;
}

.fridge svg, .microwave svg {
  width: 60px;
  height: 60px;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  padding: 150px 10px;
}

.room_carousel_img {
  width: 33%;
}

.room_carousel_content {
  width: 27%;
}

.room_carousel_list {
  width: 40%;
  overflow-y: auto;
}

.memberSwiper .swiper-slide {
  padding: 0;
}

.main_rooms .swiper-slide {
  padding: 60px 0 265px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 28px;
  font-weight: 700;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.main_rooms {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}