@import 'reset';

body {
    background-color: #fff;
    display: flex;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #F2F2F7;
    width: 100px;
    min-width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.menu_list_item {
    margin: 10px 0;
    width: 100%;
}

.menu_list_item a {
    width: 56px;
    height: 56px;
    text-align: center;
    display: flex;
    padding: 20px 0;
    color: #000;
    transition: all .2s ease;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    &:hover {
        color: #fff;
        background-color: #993D3A;
        box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
        fill: #fff;
    }
}

.active {
    color: #fff;
    background-color: #993D3A;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
    fill: #fff;
}

.home_page {
    padding-top: 24px;
    display: flex;
}

main {
    padding-top: 24px;
}

.left {
    width: 60%;
}

.wellcome {
    display: flex;
}

.right {
    width: 38%;
}

.hw,
.time,
.wellcome {
    font-size: 24px;
    font-weight: 700;
    margin-right: 4px;
}

.time {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.members_list {
    display: flex;

    &_item {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }

        & a {
            display: flex;
            flex-direction: column;
            color: #000;
        }
    }
}

.ava {

    &>img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.rooms_wrap {
    margin-bottom: 16px;
}

.rooms {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));

    &_item {
        width: 192px;
        height: 140px;
        border-radius: 10px;
        // background-color: #efefef;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all .2s ease;

        &:hover {
            box-shadow: 0px 4px 4px #6A1616;
            cursor: pointer;
        }
    }
}

.todo_list {
    display: flex;

    &_item {
        transition: all .2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    .done {
        color: #fff;
        background-color: #85c144;
    }

    & a {
        margin: 4px;
        background-color: #efefef;
        color: #000;
        border-radius: 5px;
        padding: 5px 10px;
    }
}

svg {
    width: 40px;
    height: 30px;
}

.rooms_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        a {
            color: #6A1616;
        }

        use {
            fill: #6A1616;
        }
    }

    a {
        margin: 5px 0;
        color: #000;
        font-weight: 700;
    }

    span {
        font-size: 14px;
        color: #ABBBC2;
    }

    svg {
        width: 48px;
        height: 48px;
    }
}

.right_top {
    display: flex;
    justify-content: space-between;
}

.weather,
.date {
    width: 49%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 24px rgba(187, 187, 187, 0.32);

    &_title {
        margin-bottom: 8px;
    }

    &_show {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 40px;

        &_icon svg {
            width: 71px;
            height: 46px;
        }
    }

    &_day {
        text-align: start;
        font-size: 24px;
    }

    &_day_week {
        text-align: end;
        font-size: 22px;
    }
}


/* members.html */
.main_title {
    margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
    color: #ABBBC2;
}

.slick-prev {
    left: -10px;
}

.slick-next {
    right: -10px;
}

main {
    display: block;
    max-width: calc(100% - 124px);
}

.member {
    &_img {
        width: 250px;
        height: 150px;
        margin-bottom: 10px;
        background-color: #ABBBC2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;

        &>img {
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_name {
        font-size: 20px;
        font-weight: 700;
        padding-left: 10px;
    }

    &_login {
        font-size: 24px;
        color: #ABBBC2;
        margin: 10px 0;
        padding-left: 10px;
    }

    &_status {
        position: relative;
        padding-left: 10px;

        &:after {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            // bottom: 14px;
            // right: 70px;
            background-color: #85c144;
        }
    }
}

.members_news {
    margin: 0;
}

.member_card {
    border-radius: 10px;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        box-shadow: 0px 4px 8px rgb(239, 84, 84);
    }
}

.swiper-pagination-progressbar-fill {
    background-color: rgb(239, 84, 84);
}

.swiper-button-next,
.swiper-rtl,
.swiper-button-prev {
    color: rgb(239, 84, 84);
}

.members_list_item_link {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    color: #000;

    &>div {
        margin: 30px 0;
    }
}

.news {
    margin: 100px 20px
}

/* rooms.html */
.main_rooms {
    display: flex;
}

.room_carousel {

    // background-color: #efefef;
    &_img {
        width: 300px;
        height: 300px;
        background-color: #ABBBC2;
        border-radius: 10px;

        &>img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        // margin-right: 20px;
    }

    &_name {
        text-transform: uppercase;
        font-size: 40px;
    }

    &_content {
        padding: 0 20px 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.swiper-slide {
    display: flex;
}

.boxes {
    display: flex;
}

.inside,
.outside {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 7px 17px;
    // margin: 24px;
    width: 144px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.temp,
.hum {
    display: flex;
    justify-content: space-around;
}

.where {
    font-weight: 700;
    font-size: 18px;
}

.light {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 7px 17px;

    display: flex;
    justify-content: space-evenly;

    &>div {
        margin-right: 10px;
    }
}

.room_carousel_list {
    display: flex;
    flex-wrap: wrap;

    &_item {
        margin: 0 10px 10px;
        width: 192px;
        height: 140px;
        border-radius: 10px;
        // background-color: #efefef;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        font-weight: 700;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

        &:hover {
            box-shadow: 0px 4px 4px #6A1616;
            cursor: pointer;
            fill: #993D3A;
            color: #6A1616;
        }
    }
}

.fridge,
.microwave {
    svg {
        width: 60px;
        height: 60px;
    }
}

.swiper {
    width: 100%;
    height: 100%;

    &-slide {
        padding: 150px 10px;
    }
}

.room_carousel_img {
    width: 33%;
}

.room_carousel_content {
    width: 27%;
}

.room_carousel_list {
    width: 40%;
    overflow-y: auto;
}

.memberSwiper .swiper-slide {
    padding: 0;
}

.main_rooms .swiper-slide {
    padding: 60px 0 265px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 28px;
    font-weight: 700;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.main_rooms {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

/*profile.html*/
.profile {
    display: flex;

    &_left {
        margin-right: 10px;
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_img>img {
        border-radius: 20px;
        width: 300px;
    }

    &_login {
        margin: 10px 0;
    }
}

.profile_birthday_form {
    padding: 15px;
}

select {
    padding: 5px;
}

.form_phone,
.form_descr {
    display: none;
}

.db {
    display: block;
}

.dn {
    display: none;
}